In [3]:
import pandas as pd

In [4]:
files = ['MOCK_DATA (1).csv','MOCK_DATA (2).csv',
        'MOCK_DATA (3).csv','MOCK_DATA (4).csv','MOCK_DATA (5).csv',
         'MOCK_DATA (6).csv','MOCK_DATA (7).csv','MOCK_DATA (8).csv','MOCK_DATA (9).csv']

In [5]:
df = pd.read_csv('MOCK_DATA.csv')

for file in files:
    df1 = pd.read_csv(file)
    df = pd.concat([df,df1],ignore_index=True)

In [6]:
df

,order_id,customer_id,restaurant_id,order_time,customer_location,restaurant_location,order_value,rating
0,9813,7032,342,2024-04-06 00:00:00,15th Floor,Suite 31,1810.20,0.55
1,9381,8269,541,2024-04-06 00:00:00,Room 386,Room 126,157.01,4.63
2,7804,3693,499,2024-04-06 00:00:00,Suite 67,Suite 68,218.23,0.35
3,7726,2171,174,2024-04-06 00:00:00,14th Floor,Room 1957,4784.58,0.35
4,6719,1937,165,2024-04-06 00:00:00,PO Box 75250,PO Box 84309,333.01,3.89
...,...,...,...,...,...,...,...,...
9995,7545,9839,698,2024-04-06 00:00:00,5th Floor,Apt 1085,3434.74,0.26
9996,1740,9131,740,2024-04-06 00:00:00,Suite 68,PO Box 75762,4032.25,1.08
9997,5226,1150,725,2024-04-06 00:00:00,Room 784,Apt 474,1606.99,4.59
9998,7161,4813,111,2024-04-06 00:00:00,Suite 33,PO Box 33431,3144.38,2.39
9999,3169,7594,238,2024-04-06 00:00:00,PO Box 48373,15th Floor,2986.34,1.72

In [7]:
df.to_csv('Orders_data.csv', index=False)